#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.welcome-container {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.welcome-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
}